# allows for `yarn add <package>` from bash shell within the container, ensuring packages don't get installed in app volume's node_modules
# TODO - if you wanted to develop locally, outside of the container, this would probably be problematic. i guess this file could be written from within the Dockerfile
--modules-folder /node_modules
